.Chat
  .group-info
    .group-info__group
      .group-info__Name
        グループ名
      %ul.group-info__member-list
        Member：
        %li.group-info__member
          ユーザー名
    = link_to edit_user_path(current_user),class: "group-info__edit" do
      Edit

  .Field
    .message-list
      .message-info
        .message-info__user-name
          ユーザー名
        .message-info__date
          2020/2/2 12:22
      .message
        %p.message__content
          こんにちは
  .footer
    %form.Form
      .Form__contents
        %input.Form__content{type: 'text', placeholder: 'type a message'}
        %label.Form__image
          = icon('far', 'image', class: 'Form__icon')
          %input.Hidden{type: 'file'}
      %input.Form__submit{type: 'submit', value: 'Send'}    